# Ignore Python virtual environments
.venv/
venv/
ENV/
backend/data/
# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Misc
*.DS_Store

# Project-specific large files
# Ignore heavy HOG feature CSVs that exceed GitHub's 100MB limit
data/features/*/dataset_hog.csv
